@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

*
{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
  margin: 0;
	padding: 0px;
}

body
{
  max-width: 1400px;
  margin: auto;
	
 
}

p
{
	font-size: 18px;
}

/** titres et icônes**/

h1
{
	font-size: 30px;
  text-align: center;
}

h2
{
	display: flex;
	justify-content: flex-start;
	font-size: 28px;
  letter-spacing: 0.1rem;
    padding-left: 20px;
    margin-bottom: 10px;
}

h3
{
  font-size: 22px;
  padding-bottom: 5px;
}

.fa-solid{
	color: #7e7e7e;
	font-size: 20px;
}

.fa-store
{
  font-size: 20px;
  color: #9356DC;
}

.fa-location-dot, .fa-thin
{
    color: black;
}

.fa-utensils, .fa-handshake-angle 
{
  width: 14px;
  font-size: 14px;
  margin-right: 12px;
  color: white;
}

.fa-regular
{
    font-size: 22px;
}

.header_logo
{
    width: 250px;
    height: 100px;
}

.footer_logo
{
    filter: invert(1);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    height: 40px;
}

/** Liens et comportements**/

.fas{
  position: relative;
  right: 21px;
  bottom: 0px;
  color: transparent;
transition: 0.5s ease-in-out;
}

.fas:hover
{
  z-index: 2;
  animation: linear 0.5s ease-in-out;
  color: #9356DC;
}

.loading
{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #9356DC;
  animation: hideLoader 1000ms 1 forwards;
  animation-delay: 1000ms;
}

.loading::after
{
  content : "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  border: #FF79DA solid 5px;
  border-top-color: #99e2d0;
  border-bottom-color:#99e2d0;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes hideLoader
{
  100%
  {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes spin
{
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

.hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.hoverheart__content-solid {
  font-size: 1.5rem;
  position: absolute;
  background: linear-gradient(#FF79DA, #bd9ae9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.hoverheart__content-light {
  font-size: 1.5rem;
  position: absolute;
  opacity: 1;
}

.restaurant-page-menu .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.restaurant-page-menu .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

a.lien_localisation
{
	text-decoration: none;
	color: black;
}

a.menu_card_link
{
  text-decoration: none;
  color: black;
}

a.footer_link
{
  text-decoration: none;
  color: white;
}

a.btn_explorer:hover
{
	filter: brightness(1.25);
	box-shadow: 3px 3px 5px grey;
}

header
{
	background-color: white;
}

.header_titre
{
	display: flex;
	justify-content: center;
}

.menu_location
{
	display: flex;
	justify-content: center;
	padding: 15px 20px 15px 0px;
	gap: 20px;
  background: linear-gradient(#cecece, #eaeaea);
}

.menu_location_text
{
  color: #353535;
}

.menu_h1
{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	gap: 20px;
	background-color: #f7f7f7;
	padding: 40px 0px 40px 0px;
}

.menu_h1_subtitle
{
    text-align: center;
    width: 90%;
    padding-bottom: 10px;
}

.menu_h1_subtitle_text
{
  font-size: 18px;
}

.btn_explorer
{
	height: 48px;
	display: flex;
	align-items: center;
	padding: 0px 20px 0px 20px;
	border-radius: 25px;
	color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  text-decoration: none;
  font-weight: 500;
  box-shadow: 1px 3px 5px lightgrey;
}

.menu_fonctionnement_cards
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
  margin-bottom: 50px;
}

.menu_fonctionnement_card
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 25%;
	height: 100px;
	gap: 10px;
	background-color: #f7f7f7;
	border: 1px whitesmoke solid;
	border-radius: 25px;
	box-shadow: 1px 3px 5px lightgrey;
}

.menu_fonctionnement_card:hover
{
    background-color: #f5edff;
}

.menu_fonctionnement_number
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    color: white;
    border-radius: 15px;
    right: 15px;

}

.menu_restaurants
{
	background-color: #f7f7f7;
  padding: 30px 0px 40px 0px;
}

.main_cards
{
  display: flex;
  justify-content: space-around;
}

.bloc_restaurant_cartes
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_card
{
	width: 22%;
	border-radius: 25px;
	margin-bottom: 15px;
  margin-top: 15px;
	background-color: white;
	object-fit: cover;
  box-shadow: 1px 3px 5px lightgrey;
}

.menu_card_image
 {
	height: 300px;
 }

.restaurant_image_1
{
  display: flex;
  justify-content: flex-end;
  background-position: center;
  background-image: url("../../images/restaurants/menilmontant.jpg");
	width: 100%;
	height: 290px;
	background-size: cover;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.restaurant_image_2
{
  display: flex;
  justify-content: flex-end;
  background-position: center;
  background-image: url("../../images/restaurants/charone.jpg");
	width: 100%;
	height: 290px;
	background-size: cover;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.restaurant_image_3
{
  display: flex;
  justify-content: flex-end;
  background-position: bottom;
  background-image: url("../../images/restaurants/citerouge.jpg");
	width: 100%;
	height: 290px;
	background-size: cover;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.restaurant_image_4
{
  display: flex;
  justify-content: flex-end;
  background-position: bottom;
  background-image: url("../../images/restaurants/foliemericourt.jpg");
	width: 100%;
	height: 290px;
	background-size: cover;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.nouveau
{
  display: flex;
  align-items: center;
  height: 30px;
  margin: 20px 15px 0px 0px;
  padding: 0px 10px 0px 10px;
  background-color: #99E2D0;
  color: green;
}

.menu_card_name_btn
{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

.menu_card_name_location
{
	display: flex;
	flex-direction: column;
    padding-left: 15px;
}

.hoverheart
{
  padding-left: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.footer
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-bottom: 20px;
}

.menu_footer
{
    display: flex;
    justify-content: center;
	  align-items: center;
	  gap: 80px;
    padding: 20px 0px 0px 0px;
}

.menu_footer_title
{
    color: white;
    list-style-type: none;

}

.footer_texte
{
  font-weight: 500;
}

@media screen and (min-width: 691px) and (max-width: 850px){

    body
  {
    margin: auto;
  }

  .menu_card_name_btn{
    display: block;
  }
  .menu_card_name_location{
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .hoverheart{
    padding:  20px 0px 20px 0px;
  }
}

@media screen and (max-width: 690px)

{
	body
{
	margin: auto;
}

p
{
	font-size: 18px;
}

.header_logo
{
    width: 165px;
    height: 65px;
}

.footer_logo
{
    filter: invert(1);
    padding-top: 1px;
    padding-bottom: 10px;
    width: 100px;
    height: 40px;
}
header
{
	background-color: white;
}

.header_titre
{
	display: flex;
	justify-content: center;
}

.menu_h1_title
{
    width: 78%;
    display: flex;
    justify-content: center;
}

.menu_h1_subtitle
{
    text-align: center;
    width: 90%;
    padding-bottom: 10px;
}

.menu_h1_btn
{
	display: flex;
}

.menu_fonctionnement_cards
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
  margin-bottom: 60px;
	gap: 20px;
}

.menu_fonctionnement_card
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 85%;
	height: 75px;
	gap: 25px;
	background-color: #f7f7f7;
	border: 1px whitesmoke solid;
	border-radius: 25px;
	box-shadow: 1px 3px 5px lightgrey;
}

.menu_fonctionnement_number
{
	width: 90%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #9356DC;
    color: white;
    border-radius: 15px;
    right: 15px;
}

.main_cards
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.bloc_restaurant_cartes
{
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_card
{
	width: 90%;
	border-radius: 25px;
	margin: 10px 0px 10px 0px;
	background-color: white;
	object-fit: cover;
  box-shadow: 1px 3px 5px lightgrey;
}

.menu_card_image
 {
	height: 215px;
 }

.restaurant_image
{
	width: 100%;
	height: 175px;
	object-fit: cover;
	object-position: center;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.footer 
{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding-bottom: 20px;
  }
  .menu_footer 
  {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 0px;
    padding: 20px 0px 30px 20px;
  }

.menu_footer_title 
  {
    display: flex;
    flex-direction: column;
    list-style-type:none;
    gap: 8px;
    color: white;
    list-style-type: none ;
  }
}